In [22]:
import pandas as pd
import numpy as np
import OpenBlender as OB
from datetime import date
import json
import os
from dotenv import load_dotenv
import matplotlib

In [23]:
today = date.today()
openblender_api_key = os.getenv('openblender_api_key')
load_dotenv(verbose=True)
print("Today's date:", today)

Today's date: 2020-03-17

In [ ]:
action = 'API_getObservationsFromDataset'
parameters = {
    'token': openblender_api_key,
    'id_dataset':'5e6ac97595162921fda18076',
    'date_filter':{
        "start_date":"2020-01-01T06:00:00.000Z",
        "end_date":str(today)+"T06:00:00.000Z"
    },
}

df_confirmed = pd.read_json(json.dumps(OB.call(action, parameters)['sample']), convert_dates=False, convert_axes=False).sort_values('timestamp', ascending=False)
df_confirmed.reset_index(drop=True, inplace=True)

In [27]:
df_confirmed.head(25)

,confirmed,deaths,timestamp,provincestate,longitude,latitude,recovered,countryregion
0,426,6,1584297183,California,-119.682,36.1162,6,US
1,20,0,1584296419,Indiana,-86.2583,39.8494,0,US
2,28,0,1584296419,Utah,-111.862,40.15,0,US
3,24,0,1584296419,Connecticut,-72.7554,41.5978,0,US
4,32,0,1584296419,Wisconsin,-89.6165,44.2685,1,US
5,37,0,1584296419,Ohio,-82.7649,40.3888,0,US
6,32,0,1584296419,Maryland,-76.8021,39.0639,0,US
7,33,0,1584296419,North Carolina,-79.8064,35.6301,0,US
8,33,0,1584296419,Michigan,-84.5361,43.3266,0,US
9,35,0,1584296419,Minnesota,-93.9002,45.6945,0,US
10,36,1,1584296419,Oregon,-122.071,44.572,0,US
11,45,1,1584296419,Virginia,-78.17,37.7693,0,US
12,57,0,1584296419,Victoria,144.963,-37.8136,8,Australia
13,61,0,1584296419,Queensland,153.4,-28.0167,8,Australia
14,72,0,1584296419,Texas,-97.5635,31.0545,0,US
15,93,0,1584296419,Illinois,-88.9861,40.3495,2,US
16,98,2,1584296419,New Jersey,-74.521,40.2989,0,US
17,91,2,1584296419,Louisiana,-91.8678,31.1695,0,US
18,99,1,1584296419,Georgia,-83.6431,33.0406,0,US
19,115,4,1584296419,Florida,-81.6868,27.7663,0,US
20,134,2,1584296419,New South Wales,151.209,-33.8688,4,Australia
21,732,3,1584296419,New York,-74.9481,42.1657,0,US
22,864,2,1584296419,Denmark,9.5018,56.2639,1,Denmark
23,20,0,1584296419,South Australia,138.601,-34.9285,3,Australia
24,1,0,1584296419,,64.5853,41.3775,0,Uzbekistan

In [63]:
df_confirmed[df_confirmed.provincestate=='Texas']

,confirmed,deaths,timestamp,provincestate,longitude,latitude,recovered,countryregion
14,72,0,1584296419,Texas,-97.5635,31.0545,0,US
174,57,0,1584225183,Texas,-97.5635,31.0545,0,US
493,27,0,1584056673,Texas,-97.5635,31.0545,0,US
657,21,0,1583967183,Texas,-97.5635,31.0545,0,US
679,21,0,1583967183,Texas,-97.5635,31.0545,0,US
926,43,0,1583956800,Texas,-97.5635,31.0545,0,US
1539,13,0,1583813593,Texas,-97.5635,31.0545,0,US
1540,13,0,1583813593,Texas,-97.5635,31.0545,0,US

In [66]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import warnings; warnings.filterwarnings(action='once')